<service>
  <id>{{SERVICE_NAME}}</id>
  <name>Agentic Review Worker ({{WORKER_NODE_ID}})</name>
  <description>Pulls leased Agentic Review jobs and executes them on this Windows worker.</description>

  <executable>{{NODE_EXECUTABLE}}</executable>
  <arguments>--enable-source-maps &quot;{{WORKER_ENTRYPOINT}}&quot;</arguments>
  <workingdirectory>{{INSTALL_DIRECTORY}}</workingdirectory>

  <env name="NODE_ENV" value="production" />
  <env name="WORKER_SERVER_URL" value="{{SERVER_URL}}" />
  <env name="WORKER_NODE_ID" value="{{WORKER_NODE_ID}}" />
  <env name="WORKER_DISPLAY_NAME" value="{{WORKER_DISPLAY_NAME}}" />
  <env name="WORKER_VERSION" value="{{WORKER_VERSION}}" />
  <env name="WORKER_PROTOCOL_VERSION" value="1.0" />
  <env name="WORKER_MAX_SLOTS" value="{{MAX_SLOTS}}" />
  <env name="WORKER_DATA_DIR" value="{{DATA_DIRECTORY}}" />
  <env name="WORKER_EXECUTION_ENABLED" value="{{EXECUTION_ENABLED}}" />
  <env name="WORKER_PROCESS_HOST_PATH" value="{{PROCESS_HOST_PATH}}" />
  <env name="WORKER_CODEX_VERSION" value="{{CODEX_VERSION}}" />
  <env name="WORKER_RECIPE_IDS" value="{{RECIPE_IDS}}" />
  <env name="WORKER_LABELS_JSON" value="{{LABELS_JSON}}" />
  <env name="WORKER_TLS_CA_PATH" value="{{TLS_CA_PATH}}" />
  <env name="WORKER_TLS_CERT_PATH" value="{{TLS_CERT_PATH}}" />
  <env name="WORKER_TLS_KEY_PATH" value="{{TLS_KEY_PATH}}" />
  <env name="WORKER_CLAIM_WAIT_SECONDS" value="30" />
  <env name="WORKER_HEARTBEAT_SECONDS" value="20" />
  <env name="WORKER_HEARTBEAT_SAFETY_MARGIN_SECONDS" value="20" />
  <env name="WORKER_SHUTDOWN_GRACE_SECONDS" value="120" />
  <env name="WORKER_LOG_LEVEL" value="info" />

  <startmode>Automatic</startmode>
  <delayedAutoStart>true</delayedAutoStart>
  <stoptimeout>150 sec</stoptimeout>

  <onfailure action="restart" delay="10 sec" />
  <onfailure action="restart" delay="30 sec" />
  <onfailure action="restart" delay="60 sec" />
  <resetfailure>1 hour</resetfailure>

  <logpath>{{LOG_DIRECTORY}}</logpath>
  <log mode="roll-by-size-time">
    <sizeThreshold>10485760</sizeThreshold>
    <pattern>yyyyMMdd</pattern>
    <autoRollAtTime>00:00:00</autoRollAtTime>
    <zipOlderThanNumDays>7</zipOlderThanNumDays>
    <keepFiles>14</keepFiles>
  </log>
</service>
